<h1>Lista Edifici</h1>
<table>
  <thead>
    <tr>
      <th>Dettagli</th>
      <th>Indirizzo</th>
      <th>Dimensioni</th>
      <th>Anno di costruzione</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let edificio of edifici">
      <td>
      <button type="button" (click)="goToDetail(edificio)">
        <span class="id">
          <a [routerLink]="['/edificio', edificio.id]">Dettagli edificio {{ edificio.id }}</a>
        </span>
      </button>
      </td>
      <td>{{ edificio.indirizzo }}</td>
      <td>{{ edificio.dimensioni }}</td>
      <td>{{ edificio.anno_di_costruzione}}</td>
    </tr>
  </tbody>
</table>


