<h1>Lista Edifici</h1>
<table>
  <thead>
    <tr>
      <th>Dettagli</th>
      <th>Indirizzo</th>
      <th>Dimensioni</th>
      <th>Anno di costruzione</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let edificio of edifici" (click)="selectEdificio(edificio)">
      <td>
      <button type="button">
        <span class="id">
          <a routerLink="/sensori">Dettagli edificio {{ edificio.id }}</a>
        </span>
      </button>
      </td>
      <td>{{ edificio.indirizzo }}</td>
      <td>{{ edificio.dimensioni }}</td>
      <td>{{ edificio.annoCostruzione}}</td>
    </tr>
  </tbody>
</table>


